:root {
  --yellowMain: #f6b000;
  --myWhite: #fffdee;
  --yellow: #f5e20c;
  --lightBlue: #18c7f5;
  --violet: #5418f5;
  --orange: #f57d0c;
  --green: #57e7b59f;
  --darkBlue: #1853f5;
  --pink: #f50c5b;
}

@font-face {
  font-family: "Barlow-Light";
  src: url("../assets/fonts/Barlow-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../assets/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../assets/fonts/Barlow-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("../assets/fonts/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Coda-Regular";
  src: url("../assets/fonts/Coda-Regular.ttf") format("truetype");
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Barlow-Medium";
  text-decoration: none;
  font-size: 16px;
}

.header--container {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  z-index: 2;
}

.header--container .header__logo {
  height: 50px;
  padding: 5px;
}

.header--container .header__logo img {
  height: 100%;
}

.header--container .nav--container {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header--container .nav--container .nav__link--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--container .nav--container .nav__link--container .nav__link {
  padding: 10px 10px;
  cursor: pointer;
}

.button__highlight:hover {
  background-color: var(--yellowMain);
  color: white;
}

.curly__bracket {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

.L__bracket {
  position: relative;
  right: -45%;
}

.R__bracket {
  position: relative;
  left: -45%;
}

.R__bracket:not(:last-child):after {
  content: "\002C";
  font-family: "Coda-Regular";
}

.yellow {
  background-color: var(--yellow);
}

.lightBlue {
  background-color: var(--lightBlue);
}

.violet {
  background-color: var(--violet);
}

.orange {
  background-color: var(--orange);
}

.green {
  background-color: var(--green);
}

.darkBlue {
  background-color: var(--darkBlue);
}

.pink {
  background-color: var(--pink);
}

.shadow__lighter {
  -webkit-box-shadow: 0px 2px 5px 2px rgba(30, 30, 60, 0.12);
          box-shadow: 0px 2px 5px 2px rgba(30, 30, 60, 0.12);
}

.shadow__darker {
  -webkit-box-shadow: 0px 4px 5px 2px rgba(30, 30, 60, 0.33);
          box-shadow: 0px 4px 5px 2px rgba(30, 30, 60, 0.33);
}

.main--container {
  margin: 10vh 0 0;
  padding-bottom: 40px;
  background-color: var(--myWhite);
}

.main--container .outer--container .heading--container {
  width: 100vw;
  height: 50px;
  background-color: var(--yellowMain);
  margin: 0 0 20px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main--container .outer--container .heading--container h2 {
  color: black;
  font-size: 2.5em;
  letter-spacing: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main--container .outer--container .skill__cards--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main--container .outer--container .skill__cards--container .skill__card {
  height: 120px;
  width: 120px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.main--container .outer--container .skill__cards--container .skill__card .skill__title {
  font-size: 1em;
  color: white;
}

.main--container .outer--container .skill__cards--container .skill__card .skill__img {
  max-height: 50%;
  max-width: 110px;
}

.main--container .outer--container .project__cards--container {
  height: auto;
}

.main--container .outer--container .project__cards--container .project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: auto;
  margin: 20px;
  padding: 10px 0;
  border-radius: 5px;
}

.main--container .outer--container .project__cards--container .project__card .project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main--container .outer--container .project__cards--container .project__card .project__info h3 {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1.5px 1px rgba(94, 94, 94, 0.822);
}

.main--container .outer--container .project__cards--container .project__card .project__info h3 span {
  display: block;
  font-family: "Barlow-Light";
  font-size: 0.7em;
  text-shadow: none;
}

.main--container .outer--container .project__cards--container .project__card .project__info .project__description {
  background-color: var(--myWhite);
  padding: 10px 15px;
  margin: 5px 0;
  font-size: 0.9em;
  text-align: justify;
  text-align-last: center;
}

.main--container .outer--container .project__cards--container .project__card .project__info .project__tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 7px;
}

.main--container .outer--container .project__cards--container .project__card .project__info .project__tech .project__tech--item:not(:last-child):after {
  content: "\007C";
  padding: 0 3px;
  margin: 2px 3px;
}

.main--container .outer--container .project__cards--container .project__card .project__info .project__links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
}

.main--container .outer--container .project__cards--container .project__card .project__info .project__links img {
  height: 40px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.main--container .outer--container .project__cards--container .project__card .project__info .project__links img:hover {
  background-color: var(--yellowMain);
}

.main--container .outer--container .project__cards--container .project__card .project__img--wrapper {
  height: 150px;
}

.main--container .outer--container .project__cards--container .project__card .project__img--wrapper img {
  height: 100%;
}

.main--container .about--container {
  height: 90vh;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main--container .about--container .about__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--container .about--container .about__page .about__heading {
  background-color: var(--yellowMain);
  padding: 5px 15px;
  font-size: 1.3em;
  font-family: "Barlow-Medium";
  font-weight: lighter;
}

.main--container .about--container .about__page .about__info {
  text-align: justify;
  text-align-last: center;
  padding: 0px 8px;
  font-family: "Barlow-Regular";
}

.main--container .about--container .about__page .info__top {
  text-align: center;
  font-size: 1.2em;
  font-family: "Barlow-Medium";
}

.main--container .about--container .about__page .info__middle {
  padding: 15px 0;
}

.main--container .contact--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.main--container .contact--container img {
  height: 50px;
  background-color: black;
  border-radius: 50px;
}
/*# sourceMappingURL=styles.css.map */